<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="socialmedia1611"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\uday\socialmedia1\socialmedia1\App_Data\socialmedia1611.mdf;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<!-- Increase maxRequestLength (in KB) to allow larger video uploads, e.g. 100 MB -->
		<httpRuntime targetFramework="4.8" maxRequestLength="102400" executionTimeout="600" />
	</system.web>

	<!-- IIS request filtering: maxAllowedContentLength is in bytes (here: 100 MB) -->
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="104857600" />
			</requestFiltering>
		</security>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp"
					  extension=".cs"
					  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform"
					  warningLevel="4"
					  compilerOptions="/langversion:default" />

			<compiler language="vb;vbs;visualbasic;vbscript"
					  extension=".vb"
					  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform"
					  warningLevel="4" />
		</compilers>
	</system.codedom>
</configuration>
